<div class="login_div">
  Hi Guest!<br/>
  Please sign up or login with your facebook account to get your latest feeds.
  <div class="clear"></div>
  <div class="fb_login_button"><%= link_to_function image_tag('fb_login.png'),"fbConnect();", :class=>"facebookLoginWindow" %></div>
</div>

